@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles.css */
.hide-scrollbar {
    scrollbar-width: none;
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .bottom-rounded {
    border-radius: 0px 0px 10px 10px;
  }
  
  
:root {
  --base-font-size: 12px; /* Default base font size */
  /* Define more variables if needed for different scales */
}
body {
  font-size: var(--base-font-size);
}